{% extends "users/base.html" %}
{% block footer_content %}
<!--footer-->
    <div class="row">
      <div class="col">
        <footer class="page-footer light-blue lighten-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Proyecto PumaLineal</h5>
                <p class="grey-text text-lighten-4">Todo el contenido esta siendo desarrollado basandose en distintas fuentes de información.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>

        </footer>
      </div>
    </div>


    
{% endblock %}